<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020995126307-6omiutvvmr5sjjs87ucvmscsnmq6099u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020995126307-6omiutvvmr5sjjs87ucvmscsnmq6099u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020995126307-h77gjukn1rbgjkfn4kueb19pnep27l4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7zHCdkF6x5wenzyLJJgTiLVJKubeZ68A</string>
	<key>GCM_SENDER_ID</key>
	<string>1020995126307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinksolutionz.myconsignment</string>
	<key>PROJECT_ID</key>
	<string>pureartisanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pureartisanapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020995126307:ios:d9cd9d8cf68588ba</string>
	<key>DATABASE_URL</key>
	<string>https://pureartisanapp.firebaseio.com</string>
</dict>
</plist>